# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9d9e4adc6f7c18993733c4fd68a3d8764cdfd16e7bbd06bcf65d553c35d23ef123664d038bf09b738d9e3854ae12dbc0fe433a612541ff236b5110947756c645

test:
  secret_key_base: b7a69b7e79b83589f8c822c348150a3757d1889fe871a432082890bc7dc98336ec6129634cdd74d08b545d7b2ccea4acd1f0bb96f72094c47601ed74313d06d5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
